{% extends "_layout.html" %}
{% block title %} 404 Error {% endblock %}
{% block body %}
    <!-- 404 Start -->
    <div style="padding:6rem 6rem;" class="container-xxl" data-wow-delay="0.1s">
        <div class="container text-center" style="margin-top: 10rem;">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <i class="bi bi-exclamation-triangle display-1 text-primary"></i>
                    <h1 class="display-1" style="color: #ff3b3b;">404 Error</h1>
                    <h1 class="mb-4" style="color:orange;">صفحه یافت نشد</h1>
                    <p class="mb-4" style="font-size: medium;">متأسفیم، صفحه ای که به دنبال آن بودید در وب سایت ما وجود ندارد! شاید به صفحه اصلی ما بروید یا سعی کنید از جستجو استفاده کنید؟</p>
                    <a class="btn rounded-pill py-3 px-5" style="background:lightgreen;color:black;" href="/Farshtore/Home">برگشتن به خانه</a>
                </div>
            </div>
        </div>
    </div>
    <!-- 404 End -->

{% endblock %}