{% extends "_layout.html" %}

{% block title %}درباره ما{% endblock %}

{% load static %}
<html lang="fa-IR">

{% block body %}
<style>
    .page-header {
    padding-top: 10rem;
    padding-bottom: 6rem;
    background: url({% static 'img/Farsh-1.jpg' %}) top right no-repeat;
    background-size: cover;
}
</style>
<body>
    <!-- Spinner Start -->
    {% comment %}
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status"></div>
    </div>
    {% endcomment %}
    <!-- Spinner End -->

    <!-- Page Header Start -->
    <div class="container-fluid page-header mb-5 wow fadeIn" style="margin-top:10rem;" data-wow-delay="0.1s">
        <div>
            <div class="container">
                <h1 class="display-3 mb-3 animated slideInDown header-slider">درباره ما</h1>
                <nav aria-label="breadcrumb animated slideInDown">
                    <ol class="breadcrumb mb-0" style="font-size: medium;">
                        <li class="active"><a class="header-slider" style="color:lightgreen;font-size: 1.5rem;" href="/Farshtore/Home">خانه</a></li>
                        <li class="active"><a class="header-slider" style="color:lightgreen;cursor:pointer;font-size: 1.5rem;"><bdi>صفحات /&nbsp</bdi></a></li>
                        <li class="active" aria-current="page"><a class="header-slider" style="color:lightgreen;cursor:pointer;font-size: 1.5rem;"><bdi>درباره ما /&nbsp</bdi></a></li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
    <!-- Page Header End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden p-5 pe-0">
                        <img class="img-fluid w-100" src="{% static 'img/Farsh-1.jpg' %}" style="border-radius: 10px;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="text-align: right;">
                    <h1 style="font-size: 2rem;" class="mb-4 text-right">ما و فروشگاهمان: برآورده کننده‌ی نیازهای شما با اعتماد و راحتی</h1>
                    <div style="font-size: large;">
                        <p class="mb-4 text-right">
                            <bdi>
                                به فروشگاه آنلاین ما خوش آمدید، جایی که شما می‌توانید به راحتی محصولات خود را به فروش بگذارید و تجربه‌ی منحصر به فردی از خرید آنلاین را تجربه کنید.
                                با افتخار، به شما امکان می‌دهیم تا محصولات دست ساز، هنری، کامپیوتری و هر نوع کالای دیگری را به مشتریان خود عرضه کنید.
                            </bdi>
                        </p>
                        <div>
                            <bdi class="mb-4 text-right">فروشگاه ما قابلیت های زیادی دارد از جمله :</bdi><br><br>
                            <bdi class="text-right text-primary me-3">
                                <svg style="width: 36px;height: 36px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                </svg>
                                <span>فروش محصولات شخصی</span>
                            </bdi><br>
                            <bdi class="text-right text-primary me-3">
                                <svg style="width: 36px;height: 36px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                </svg>
                                <span>پنل کاربری شخصی</span>
                            </bdi><br>
                            <bdi class="text-right text-primary me-3">
                                <svg style="width: 36px;height: 36px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                </svg>
                                <span>سیستم پرداخت امن</span>
                            </bdi><br>
                            <bdi class="text-right text-primary me-3">
                                <svg style="width: 36px;height: 36px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                </svg>
                                <span>رتبه‌بندی و نظرات مشتریان</span>
                            </bdi><br>
                            <bdi class="text-right text-primary me-3">
                                <svg style="width: 36px;height: 36px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
                                    <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                                </svg>
                                <span>پشتیبانی مشتریان</span>
                            </bdi>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

</body>
{% endblock %}


</html>