{% extends "_layout_panel.html" %}
{% load static %}

{% block title %}ویرایش حساب{% endblock %}

{% block body %}

<div class="Shaba_Num" hidden="hidden">{{ Shaba_Num }}</div>
<div class="Cart_Num" hidden="hidden">{{ Cart_Num }}</div>
<div class="None_SH" hidden="hidden">{{ None_SH }}</div>

<div>
    <p class="header-info Header-group-form">اطلاعات شخصی</p>
    <form method="post" action="" class="frm-Edit-Seller-Gen">
        {% csrf_token %}
        <div class="Edit_SG_Form">
            {% for item in form %}

                {% if item.name == "Number_Sh" %}
                    <div class="div-Sh-Ge" style="padding:0;">
                      <label class="lbl-N_Shop lbl-N-Code">شماره کارت</label>
                      {{ item }}
                      <p style="position: relative;top: 0.5rem;margin-right: 2rem;">اختیاری</p>
                      <div class="Change-Sh">
                        <p class="text-Change">ثبت شماره شبا به‌جای شماره کارت</p>
                      </div>
                    </div>
                    </div><hr style="background: black;opacity: 1;margin:3rem 0;">
                {% elif item.name == "ShopName" %}
                    <p class="header-info Header-group-form" style="margin-bottom:3rem;">اطلاعات فروشگاه</p>
                    <label class="lbl-N_Shop">نام انتخابی برای فروشگاه</label>
                    {{ item }}<hr style="background: black;opacity: 1;margin:3rem 0;">

                {% elif item.name == "ShopName" %}
                    <hr style="background: black;opacity: 1;margin:3rem 0;">
                    <p class="header-info Header-group-form">امنیت</p>
                    <div>
                {% elif item.name == "rePassword" %}
                        {{ item }}
                    </div>
                {% else %}
                {{ item.label_tag }}
                {{ item }}
            {% endif %}


        {% endfor %}
        <br><br>
        <ul class="Error-List" hidden>

        </ul>
        <div>
            <input class="Change_Info_Seller_Gen" style=" margin-top: 0;" type="button" value="ثبت اطلاعات">
        </div>
    </form>
</div>
<!-- Modal -->
<div class="modal" id="myModal" style="position:fixed;top:75%;left:50%;transform:translate(-50%,-50%);">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:15px;padding:0 20px 10px 20px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ثبت اطلاعات کاربری</h4>
        <div class="close bi bi-x" style="font-size:30px;color:black;cursor:pointer;" data-dismiss="modal"></div>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="font-size:15px;">
        لطفا اطلاعات شخصی خود را وراد کنید. نام و نام خانوادگی باید با اطلاعاتی که وارد می کنید همخوانی داشته باشد.
          <br>
          {% for item in form %}
          <div>
              <br>
            {{ item }}
          </div>
          {% endfor %}
      </div>

      <!-- Modal footer -->
      <div class="text-center">
        <button style="border-radius:9px;border:none;font-size:18px;padding:10px;" type="button" data-dismiss="modal">بررسی اطلاعات</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="myModal2" style="position:fixed;top:75%;left:50%;transform:translate(-50%,-50%);">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:15px;padding:0 20px 10px 20px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ثبت اطلاعات کاربری</h4>
        <div class="close bi bi-x" style="font-size:30px;color:black;cursor:pointer;" data-dismiss="modal"></div>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="font-size:15px;">
        لطفا اطلاعات شخصی خود را وراد کنید. نام و نام خانوادگی باید با اطلاعاتی که وارد می کنید همخوانی داشته باشد.
          <br>
          {% for item in form %}
          <div>
              <br>
            {{ item }}
          </div>
          {% endfor %}
      </div>

      <!-- Modal footer -->
      <div class="text-center">
        <button style="border-radius:9px;border:none;font-size:18px;padding:10px;" type="button" data-dismiss="modal">بررسی اطلاعات</button>
      </div>

    </div>
  </div>
</div>


<div class="modal" id="myModal3" style="position:fixed;top:75%;left:50%;transform:translate(-50%,-50%);">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:15px;padding:0 20px 10px 20px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ثبت شماره موبایل</h4>
        <div class="close bi bi-x" style="font-size:30px;color:black;cursor:pointer;" data-dismiss="modal"></div>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="font-size:15px;">
        لطفا اطلاعات شخصی خود را وراد کنید. نام و نام خانوادگی باید با اطلاعاتی که وارد می کنید همخوانی داشته باشد.
          <br><br>
          <input type="text" class="form-control" id="id_Phone" style="border-radius:10px;" placeholder="09123456789">
      </div>

      <!-- Modal footer -->
      <div class="text-center">
        <button style="border-radius:9px;border:none;font-size:18px;padding:10px;" type="button" data-dismiss="modal">دریافت کد تایید و تغییر شماره</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="myModal4" style="position:fixed;top:75%;left:50%;transform:translate(-50%,-50%);">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:15px;padding:0 20px 10px 20px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ثبت ایمیل</h4>
        <div class="close bi bi-x" style="font-size:30px;color:black;cursor:pointer;" data-dismiss="modal"></div>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="font-size:15px;">
          <input type="email" class="form-control" id="id_Email" style="border-radius:10px;" placeholder="test123@gmail.com">
      </div>

      <!-- Modal footer -->
      <div class="text-center">
        <button style="border-radius:9px;border:none;font-size:18px;padding:10px;" type="button" data-dismiss="modal">تایید</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="myModal5" style="position:fixed;top:75%;left:50%;transform:translate(-50%,-50%);">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:15px;padding:0 20px 10px 20px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">افزودن رمز عبور</h4>
        <div class="close bi bi-x" style="font-size:30px;color:black;cursor:pointer;" data-dismiss="modal"></div>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="font-size:15px;">
          <input type="password" class="form-control" id="id_Password" style="border-radius:10px;" placeholder="رمز عبور جدید*"><br>
          <ol>
              <li>شامل عدد</li>
              <li>حداقل 8 حرف</li>
              <li>شامل علامت های (!@#$%&*^)</li>
              <li>شامل یک حرف بزرگ و کوچک</li>
          </ol><br>
          <input type="password" class="form-control" id="id_Password_again" style="border-radius:10px;" placeholder="تکرار رمز عبور جدید*">
      </div>

      <!-- Modal footer -->
      <div class="text-center">
        <button style="border-radius:9px;border:none;font-size:18px;padding:10px;" type="button" data-dismiss="modal">تغییر رمز عبور</button>
      </div>

    </div>
  </div>
</div>

<div class="modal" id="myModal7" style="position:fixed;top:75%;left:50%;transform:translate(-50%,-50%);">
  <div class="modal-dialog">
    <div class="modal-content" style="border-radius:15px;padding:0 20px 10px 20px;">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">تاریخ تولد</h4>
        <div class="close bi bi-x" style="font-size:30px;color:black;cursor:pointer;" data-dismiss="modal"></div>
      </div>

      <!-- Modal body -->
      <div class="modal-body" style="font-size:15px;">
          <input type="text" class="form-control" id="id_day" style="border-radius:10px;cursor:pointer;display:inline-block;width:130px;padding:10px;" value="" placeholder="روز"><br>
          <input type="text" class="form-control" id="id_month" style="border-radius:10px;cursor:pointer;display:inline-block;width:130px;padding:10px;" value="" placeholder="ماه"><br>
          <input type="text" class="form-control" id="id_year" style="border-radius:10px;cursor:pointer;display:inline-block;width:130px;padding:10px;" value="" placeholder="سال"><br>
      </div>

      <!-- Modal footer -->
      <div class="text-center">
        <button style="border-radius:9px;border:none;font-size:18px;padding:10px;" type="button" data-dismiss="modal">تغییر رمز عبور</button>
      </div>

    </div>
  </div>
</div>
{% endblock %}