{% extends "_layout.html" %}
{% load static %}

{% block title %}خانه{% endblock %}

{% block body %}

    <!-- Carousel Start -->

    <div class="container-fluid p-0 wow fadeIn" style="margin-top:9%;" data-wow-delay="0.1s">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/Farsh-2.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">فرش های ماشینی و دست باف</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/Farsh-3.png' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">نخ و نقشه کامپیوتری</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/Frasht.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">انواع تابلو فرش</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/accss.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">اکسسوری فرش</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/shane.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">فرش با شانه های مختلف</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/class.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">انواع فرش های کلاسیک</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/bby.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">فرش هایی مخصوص کودکان</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/fan.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">فرش های فانتزی</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/circle.jfif' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">انواع فرش های بیضی و گرد</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/glims.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">گلیم های متنوع</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100" src="{% static 'img/head_devices.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-lg-7">
                                    <h1 class="display-2 mb-5 animated slideInDown header-slider">ابزار های قالی بافی</h1>
                                    <a href="/Farshtore/product/None/None" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">محصولات</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <button class="carousel-control-next" style="margin-right:10%;" type="button" data-bs-target="#header-carousel"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" style="" type="button" data-bs-target="#header-carousel"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            </div>
        </div>
    </div>
    <!-- Carousel End -->

    <!-- Feature Start -->

    <div class="container-fluid py-6" dir="rtl">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
                <h1 class="mb-3">دسته بندی ها</h1>
            </div>
            <div class="row g-3">

                <div class="containers col-lg-3 col-md-6" style="margin-right:13%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/accessory.jpg' %}" style="width:70%;height:100%;border-radius: 15px;box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);" title="اکسسوری">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">اکسسوری</h4>
                    </div>
                </div>
                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/dasts.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="دست باف">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">دست باف</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/Farsh-1.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="ماشینی">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">ماشینی</h4>
                    </div>
                </div>
                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/baby_2.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="کودک">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">کودک</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/circle.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="بیضی و گرد">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">بیضی و گرد</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:13%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/700sh.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="700 شانه">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">700 شانه</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/1000_shane.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="1000 شانه">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">1000 شانه</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/1200_shane.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="1200 شانه">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">1200 شانه</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/1500_shane.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="1500 شانه">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">1500 شانه</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/fantesic.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="فانتزی">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">فانتزی</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:13%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/classic_new.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="کلاسیک">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">کلاسیک</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/computer.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="کامپیوتری">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;font-size: 1rem;">نخ و نقشه کامپیوتری</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/glim.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="فانتزی">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">گلیم</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/devices.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="فانتزی">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">ابزار قالی بافی</h4>
                    </div>
                </div>

                <div class="containers col-lg-3 col-md-6" style="margin-right:-5%;width:20%;height:200%;" data-wow-delay="0.1s">
                        <img src="{% static 'img/Farsh-t.jpg' %}" style="box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);width:70%;height:100%;border-radius: 15px;" title="کلاسیک">
                    <div class="text-block">
                        <h4 style="color:#e3dfde;text-shadow:0 0 3px black, 0 0 5px black;">تابلو فرش</h4>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Product Start -->
<div>
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-0 gx-5 align-items-end">
                <div class="col-lg-12">
                    <div class="section-header text-center mb-5 wow fadeInUp" style="margin-top:7%;" data-wow-delay="0.1s">
                        <h1 class="mb-3">محصولات پر بازدید</h1>
                    </div>
                </div>
            </div>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade show p-0 active">
                    <div class="row g-4 AllProduct">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- Product End -->

    <!-- Back to Top -->
{% endblock %}