{% extends "_layout_panel.html" %}
{% load static %}

{% block title %}لیست علاقه مندی ها{% endblock %}

{% block body %}

<div>

    <div style="border: none;border-bottom: 1px solid;">
        <p style="font-size: large;padding: 0 5px 0 0;font-weight: bold;border: none;border-right: 2px solid orange;">علاقه مندی ها</p><br><br>
        <nav class="navbar navbar-expand-lg" style="font-size:large;margin-bottom: -1.5%;">
            <p class="hover" style="margin-left:1.5%;padding: 7px;">لیست علاقه مندی ها</p>
            <p class="hover" style="margin-left:1.5%;padding: 7px;">لیست های من</p>
        </nav>
    </div>

    <div class="Prdct_Like"></div>

</div>
{% endblock %}