{% extends "_layout_panel.html" %}
{% load static %}

{% block title %}کیف پول{% endblock %}

{% block body %}

<div>

    <div style="border: none;">
        <p style="font-size: large;padding: 0 5px 0 0;font-weight: bold;border: none;border-right: 2px solid orange;">کیف پول</p><br>
        <p style="font-size:150%;">اگر دفعه ی اولی است که میخواهید کیف پول خود را شارژ نمایید ما به شما <span style="color:orange;">50 هزار تومان</span> <span style="color:#3cb815;">هدیه</span> میدهیم تا بهترین کمک را به شما کرده باشیم.</p>
        <p style="font-size:125%;"><span style="color:orange;">نکته : </span>بعدا <span style="color:red;">نمیتوانید</span> از این هدیه استفاده نمایید.</p><br>
        <nav class="navbar navbar-expand-lg" style="font-size:large;margin-bottom: -1.5%;margin-right: 35%;;">
            <div class="Wallet-text" style="">
                <p style="margin:0;">فعلی : 0 ریال</p>
            </div>

            <div class="Wallet-text" style="background:orange;">
                <p style="margin:0;">افزایش اعتبار</p>
            </div>
        </nav>
    </div>

</div>
{% endblock %}