.card {
    background: #fff;
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}
.chat-app .people-list {
    width: 280px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 57px 20px 0;
    z-index: 7;
}

.chat-app .chat {
    margin-left: 280px;
    border-left: 1px solid #eaeaea
}

.people-list {
    -moz-transition: .5s;
    -o-transition: .5s;
    -webkit-transition: .5s;
    transition: .5s
}

.people-list .chat-list li {
    padding: 10px 15px;
    list-style: none;
    border-radius: 3px
}

.people-list .chat-list li:hover {
    background: #efefef;
    cursor: pointer
}

.activate {
    visibility: visible;
}

.deactivate {
    visibility: hidden;
}

.Chat:focus +.productCard_rightSide {
  display: none;
}

.Chat:focus +.Comment {
  display: block;
}

.close:focus +.Comment {
  display: none;
}

.close:focus +.productCard_rightSide {
  display: block;
}


.people-list .chat-list li.active {
    background: #efefef
}

.people-list .chat-list li .name {
    font-size: 15px
}

.people-list .chat-list img {
    width: 45px;
    border-radius: 50%
}

.people-list img {
    float: left;
    border-radius: 50%
}

.people-list .about {
    float: left;
    padding-left: 8px
}

.people-list .status {
    color: #999;
    font-size: 14px
}

.chat .chat-header {
    padding: 15px 20px;
    border-bottom: 2px solid #f4f7f6
}

.chat .chat-header img {
    float: left;
    border-radius: 40px;
    width: 40px
}

.chat .chat-header .chat-about {
    float: left;
    padding-left: 10px
}

.chat .messages {
    padding: 20px;
    height: 32rem;
    overflow: auto;
    border-bottom: 2px solid #fff
}

.chat .messages ul {
    padding: 0
}

.chat .messages ul li {
    list-style: none;
    margin-bottom: 30px
}

.chat .messages ul li:last-child {
    margin-bottom: 0px
}

.chat .messages .message-data {
    margin-bottom: 15px
}

.chat .messages .message-data img {
    border-radius: 40px;
    width: 40px
}

.chat .messages .message-data-time {
    color: #434651;
    padding-left: 6px
}

.chat .messages .message {
    color: #444;
    padding: 18px 20px;
    line-height: 26px;
    font-size: 16px;
    border-radius: 7px;
    display: inline-block;
    position: relative
}

.chat .messages .message:after {
    bottom: 100%;
    left: 7%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px
}

.chat .messages .my-message {
    background: #efefef
}

.chat .messages .my-message:after {
    bottom: 100%;
    left: 30px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -10px
}

.chat .messages .other-message {
    background: #e8f1f3;
    text-align: right;
}

.chat .messages .other-message:after {
    bottom: 100%;
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-bottom-color: #efefef;
    border-width: 10px;
    margin-left: -33px;
}

.chat .chat-message {
    padding: 20px 0 55px 20px;
}

.online,
.offline,
.me {
    margin-right: 2px;
    font-size: 8px;
    vertical-align: middle
}

.online {
    color: #86c541
}

.offline {
    color: #e47297
}

.me {
    color: #1d8ecd
}

.float-right {
    float: right
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

@media only screen and (max-width: 767px) {
    .chat-app .people-list {
        height: 465px;
        width: 100%;
        overflow-x: auto;
        background: #fff;
        left: -400px;
        display: none
    }
    .chat-app .people-list.open {
        left: 0
    }
    .chat-app .chat {
        margin: 0
    }
    .chat-app .chat .chat-header {
        border-radius: 0.55rem 0.55rem 0 0
    }
    .chat-app .messages {
        height: 300px;
        overflow-x: auto
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .chat-app .chat-list {
        height: 650px;
        overflow-x: auto
    }
    .chat-app .messages {
        height: 600px;
        overflow-x: auto
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    .chat-app .chat-list {
        height: 480px;
        overflow-x: auto
    }
    .chat-app .messages {
        height: calc(100vh - 350px);
        overflow-x: auto
    }
}

.row-v {
    display: flex;
    font-size: large;
    align-items: flex-start;
    justify-content: flex-end;
}

.bottom_wrapper .message_input_wrapper {
    display: inline-block;
    height: 52px;
    border-radius: 25px;
    border: 1px solid #bcbdc0;
    width: calc(100% - 300px);
    position: relative;
    padding: 0 20px;
}
.bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 40px);
  position: absolute;
  outline-width: 0;
  color: gray;
}


.bottom_wrapper {
    position: relative;
    width: 100%;
    bottom: -30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

.Msg-aria {
    text-align: right;
    resize: none;
    overflow: hidden;
    padding-top: 1rem;
}


.block_rating__stars label.checked {
    color: #f00;
}

.bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  border-radius: 50px;
  background-color: #3cb815;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: left;
  margin-right: 5px;
  font-size: 0.9rem;
}
.bottom_wrapper .send_message:hover {
  background-color: orange;
}
.bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.text_input {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}

.centered-text {
    display: flex;
    justify-content: center;
    align-items: center;
}