/* Generated for Opera v107.0.0.0 on Windows */
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/d0c37c8988e4381c42698936ac0fd2f23d559a48c95bca1d364abc977e0b3c94.woff2") format("woff2");
     font-weight: 100;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/0bfdea24bf77249016f07b3f5f60f80476b47e7569d219b48634c3190ce5b676.woff2") format("woff2");
     font-weight: 200;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/a54beb008b858ca9271ff1a7d7014989752eb30c49f27c22513379e3fc0a756d.woff2") format("woff2");
     font-weight: 300;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/40c3400b9ea02a52e7ec5ac5601b0d159c504119826a11dc565f701a9f6a3fd7.woff2") format("woff2");
     font-weight: 400;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/636804c159962e736d588166afbf89ac01032df4c59fe5baadeeeaf8886ad88d.woff2") format("woff2");
     font-weight: 500;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/c794a420acddb2107811b757c72280a6ee658c0d0b54eec5833ebbd60f4e1967.woff2") format("woff2");
     font-weight: 600;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/ca4a8d3a52a648361d0bd3561e742a4f994a592002a8099435176e99f4f073e5.woff2") format("woff2");
     font-weight: 700;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/6b5c58b50d174546ac5b4ef82b4dfa1b87d66c3aa574dfc61365bb46d149a5f6.woff2") format("woff2");
     font-weight: 800;
     font-style: normal;
}
@font-face {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/5c21e75e61c43f18ead2e1d2e56d4d7d30d7b0cd4d972959d4269ee975740b60.woff2") format("woff2");
     font-weight: 900;
     font-style: normal;
}

p {
     font-family: "Mikhak FD";
     src: url("https://cdn.fontcdn.ir/Fonts/MikhakFD/d0c37c8988e4381c42698936ac0fd2f23d559a48c95bca1d364abc977e0b3c94.woff2") format("woff2");
     font-weight: 100;
     font-style: normal;
}
/* CACHED: 2024-04-14T08:23:36+04:30 */
/* Powered by FontServer.ir */